---
import Layout from '../layouts/Layout.astro';
import GameBoard from '../components/GameBoard.astro';
---

<Layout title="Wavle">
  <h1 class="text-3xl font-bold underline">Wavle</h1>
  <GameBoard />
</Layout>
