---
---

<div id="waveCanvas"></div>

<script>
  import p5 from 'p5';
  import { calculateCombinedSignal } from '../scripts/game.js';

  let playerWaves = [];
  let targetWaves = [];

  new p5(( sketch ) => {
    let width = 1000;
    let height = 400;
    let time = 0;

    sketch.setup = () => {
      sketch.createCanvas(width, height);
      sketch.strokeWeight(2);
      sketch.noFill();
    };

    sketch.draw = () => {
      sketch.clear();
      // time += 0.02;

      // Draw target wave
      sketch.stroke(0, 0, 0, 100);
      if(targetWaves.length > 0) {
        drawWave(targetWaves);
      }

      // Draw player wave
      sketch.stroke(0, 0, 255, 200);
      if(playerWaves.length > 0) {
        drawWave(playerWaves);
      }
    };

    function drawWave(waves) {
      sketch.beginShape();
      for (let x = 0; x < width; x++) {
        const normalizedX = (x / width) * 2 * Math.PI;
        const y = calculateCombinedSignal(waves, normalizedX + time);
        const canvasY = height / 2 - y * (height / 4);
        sketch.vertex(x, canvasY);
      }
      sketch.endShape();
    }

    // Expose function to update waves
    window.updateWaves = (newPlayerWaves, newTargetWaves) => {
      playerWaves = newPlayerWaves;
      targetWaves = newTargetWaves;
    };
  }, 'waveCanvas');
</script>


<style>
  #waveCanvas {
    width: 1000px;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
  }
</style>
